@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
}
body{
    background: #16423C;
}
.container{
    width: 95%;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
    
}
.toDoApp{
    position: absolute;
    width: 98%;
    max-width: 500px;
    background: #fff;
    padding: 1%;
    margin: 100px auto;
    border-radius: 20px;
}
.toDoApp h1{
    text-align: center;
    color: #002756;
    font-size: 24px;
    margin: 10px 0;
}
.inputarea{
    display: flex;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 30px;
    margin-bottom: 20px;
    border-radius: 40px;
}
 input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}
.inputarea button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #318666;
    color: #fff;
    font-size: 16px;
    border-radius: 40px;
}

ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 16px;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    height: 28px;
    width: 28px;
    background-image: url('unchecked.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 10px;
    left: 0;
}
ul li.checked{
    text-decoration: line-through;
    color: #555;
}
ul li.checked::before{
    background-image: url('checked.png');
}

ul li span{
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    color: #555;
    top: 5px;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    border-radius: 50%;
}

ul li span:hover{
    background: #d8d8d8;
}

@media screen and (max-width:570px){
    .toDoApp{
        width: 95%;
        padding: 10px;
    }
    .container{
        padding: 3px;
        width: 100%;
        margin: 0 auto;
    }
    body{
        width: 98%;
    }
    .inputarea{
        flex-direction: column;
        width: 90%;
        background: transparent;
        justify-content: center;
    }
    .inputarea button{
        width: 98%;
        text-align: center;
    }
    input{
        display: flex;
        flex-direction: column;
        border: 1px solid red;
        margin: 15px 0px;
        padding: 20px 0px;
        padding-left: 10px;
        width: 95%; 
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
        border-radius: 30px;

    }
}